<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Commerce365\CustomerPrice\Service\GetProductResponseData">
        <plugin name="commerce365_hyva_set_current_product"
                type="Commerce365\CustomerPriceHyva\Plugin\SetCurrentProduct"/>
    </type>
</config>
